html {
  background-color: #ddd;
  min-height: 100%;
  position: relative;
}

body {
  background-color: #ddd;
  /* bottom = footer height */
  margin: 0 0 100px;
}

#root {
  background-color: #ddd;
  min-height: 100%;
  /* bottom = footer height */
  margin: 0 0 50px;
}

.react-select__control {
  border-radius: 0 !important;
}

.react-select__control > div {
  padding: 1em;
}

.react-select__control:focus {
  outline: 1px solid rgba(0,107,224,.98) !important;
}

a {
  text-decoration: none;
  color: rgba(0,107,224,.98);
}

a:active {
  outline: 1px solid rgba(0,107,224,.98) !important;
}

p,
div,
span {
  font-family: 'Libre Baskerville',Arial,serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Raleway',Arial,sans-serif;
}

/* *:focus {
  border: 2px solid red;
} */

@media (max-width: 500px) {
  .react-select__control > div {
    padding: 1.2em;
    /* font-size: .75em; */
  }
}