html {
  background-color: #ddd;
  min-height: 100%;
  position: relative;
}

body {
  background-color: #ddd;
  /* bottom = footer height */
  margin: 0 0 100px;
}

#root {
  background-color: #ddd;
  min-height: 100%;
  /* bottom = footer height */
  margin: 0 0 50px;
}

.react-select__control {
  padding: .5em;
}

*:focus {
  border: 2px solid red;
}